
@{
    ViewBag.Title = "Editar";
}

    <h3 class="text-center mb-3 mt-3 text-dark">Edição de Usuário</h3>

<form action="/usuario/update/" method="post">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nomeusuario">Nome</label>
                <input class="form-control" type="text" name="nomeusuario" id="campo-nomeusuario" value="@ViewBag.Usuario.Nome" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-login">Login</label>
                <input class="form-control" type="text" name="login" id="campo-login" value="@ViewBag.Usuario.Login" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-senha">Senha</label>
                <input class="form-control" type="text" name="senha" id="campo-senha" value="@ViewBag.Usuario.Senha" />
            </div>
        </div>
    </div>
    <input type="hidden" name="id" value="@ViewBag.Usuario.Id" />
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right">
                <i class="fas fa-save"></i> Salvar
            </button>
        </div>
    </div>
</form>

