
@{
    ViewBag.Title = "Usuários";
}

<h3 class="text-center mb-3 mt-3 text-dark">Usuários</h3>

<div class="row">
    <div class="col-12">
        <a href="/usuario/cadastro" class="btn btn-dark float-right mb-3">
            <i class="fas fa-plus"></i> Novo Usuário
        </a>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Login</th>
            <th>Senha</th>
            <th>Ação</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (Model.Usuario usuario in ViewBag.Usuarios)
        {
            <tr>
                <td>@usuario.Id</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Login</td>
                <td>@usuario.Senha</td>
                <td>
                    <a href="/usuario/editar?id=@ViewBag.Clientes">Editar</a>
                    <a href="/usuario/apagar?id=@ViewBag.Clientes">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



