
@{
    ViewBag.Title = "Cadastro Projeto";
}

    <h3 class="text-center mb-3 mt-3 text-dark">Cadastro de Projetos</h3>

<form method="post" action="/projeto/store">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-codigocliente">Código do Cliente</label>
                <input type="text" name="cliente" id="campo-codigocliente" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-projeto">Projeto</label>
                <input type="text" name="projeto" id="campo-projeto" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-datacrianca">Data de Criação</label>
                <input type="datetime-local" name="criacao" id="campo-datacriacao" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-datafinalizacao">Data de Finalização</label>
                <input type="datetime-local" name="finalizacao" id="campo-datafinalizacao" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success">Salvar</button>
        </div>
    </div>
</form>