
@{
    ViewBag.Title = "Index";
}

<label></label>

<div class="jumbotron">
    <h1 class="display-4">Quem Somos</h1>
    <label class="row"></label>
    <p class="lead">Nós da MAMP Transportes somos uma empresa familiar criada em 2004 na cidade de Lages, Santa Catarina.</p>
    <hr class="my-4">
    <p> Somos uma empresa de logística que cruza as fronteiras brasileiras para garantir que sua carga chegue sempre em seu local de destino, com nossa frota de caminhões e vans.
    </p>
    <p>
        Contamos com uma equipe especializada de profissionais para sempre melhor atender os consumidores, desde a coleta até o momento da entrega das mercadorias .
    </p>
</div>



