
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<label for="campo-home">
    Quem somos:
    Nós da MAMP Transportes somos uma empresa familiar criada em 2004 na cidade de Lages, Santa Catarina.
    Somos uma empresa de logística que cruza as fronteiras brasileiras para garantir que sua carga chegue sempre em seu local de destino, com nossa frota de caminhões e vans.
    Contamos uma equipe especializada de profissionais para sempre melhor atender aos nossos
    Consumidores, desde a coleta até o momento da entrega de mercadorias .
</label>


